<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boothby</ion-title>
    <ion-avatar id="boothby" slot="end">
      <ion-img src="/assets/img/Boothby-Joyeux-Carre.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="8" size="12"
        ><ion-card>
          <ion-card-header>
            <ion-card-title
              >Et si vous vous mettiez au Green IT ?</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <p>
              Boothby est le seul coach virtuel qui va vous donner envie
              d'utiliser ou de développer vos applications de façon optimisée et
              responsable. Disponible sur Slack gratuitement et sans limitation,
              essayez-le, adoptez-le et joignez-vous à son développement !
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Animer une communauté</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Boothby est accessible à toutes les équipes,
              <b>qu'elles soient composées d'utilisateurs ou de développeurs</b>
              (*) et interragit avec elle pour ouvrir et enrichir les
              discussions autour de l'informatique durable.
            </p>
            <p>
              (*) Des fonctionnalités de filtrage sont en cours d'élaboration
              pour s'adapter parfaitement à vos activités.
            </p>
            <ion-button href="{{ installLink }}">
              <ion-icon slot="start" name="logo-slack"></ion-icon>
              Ajouter à Slack
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size="12" class="ion-align-self-center">
        <ion-card>
          <ion-card-content>
            <img
              src="/assets/img/Boothby-Demo.png"
              alt="Démo Boothby"
              height="100%"
            />
          </ion-card-content> </ion-card
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Un projet communautaire</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Boothby ce n'est pas la nouvelle campagne marketing d'une
              entreprise qui veut surfer sur la vague du Green IT et s'offrir
              une image écolo.
            </p>
            <p>
              L'objectif est d'amener un maximum de professionnels à prendre
              conscience de leurs impacts dans leur utilisation et l'élaboration
              des services IT.
            </p>
            <ion-button href="https://github.com/valeuriad/boothby-core">
              <ion-icon slot="start" name="logo-github"></ion-icon>
              Voir le dépôt Git
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Le monde du logiciel va mal</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Si en surface l'informatique n'a jamais été aussi performante,
              utile, sociale, high tech, en réalité il n'y a jamais eu autant de
              superflu, d'usage inutiles, d'obsolescence et de "gras" logiciel.
            </p>
            <p>
              Les récentes études le confirme, notamment le manifeste pour un
              développement durable d'Olivier Philippot. N'hésitez pas à le lire
              et à le partager autour de vous.
            </p>
            <ion-button
              href="https://greenspector.com/fr/articles/2018-12-11-manifeste-developpement-plus-durable/"
            >
              <ion-icon slot="start" name="document-outline"></ion-icon>
              Lire le manifeste
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>En cours de développement</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              De la veille technologique au développement de nouvelles
              fonctionnalités en passant par la rédaction de publications... il
              y a encore tant à faire ! Vous souhaitez participer ? Fantastique
              !
            </p>
            <p>Contactez-nous par mail en cliquant sur le bouton suivant.</p>
            <ion-button href="mailto:boothby@valeuriad.fr">
              <ion-icon slot="start" name="mail-open-outline"></ion-icon>
              Nous contacter
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
